<div class="lineup">
    <table>
        <tr>
            <td><button class="btn btn-danger btn-sm">SUB</button></td>
            <td><img class="player" src="{{teams[0].players[0].img}}" alt=""></td>
            <td><img class="player" src="{{teams[0].players[1].img}}" alt=""></td>
        </tr>
        <tr>
            <td colspan="3"><img class="ground" src="img/lineup-bg.png" /></td>
        </tr>
        <tr>
            <td><img class="player" src="{{teams[1].players[0].img}}" alt=""></td>
            <td><img class="player" src="{{teams[1].players[1].img}}" alt=""></td>
            <td><button class="btn btn-danger btn-sm">SUB</button></td>
        </tr>
    </table>
</div>