<div class="row">
    <div class="col-4">
        <div class="container-fluid">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Team</td>
                            <td>Player</td>
                            <td>Pts</td>
                        </tr>
                    </thead>
                    <tr>
                        <td>1</td>
                        <td>United</td>
                        <td>Sir,Sam</td>
                        <td>37</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>City</td>
                        <td>MBR,ARN</td>
                        <td>29</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Arsenal</td>
                        <td>MH,AHM</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Joker</td>
                        <td>MRV,MN</td>
                        <td>15</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>
                    <img class="logo" src="assets/logo.svg" alt="angular logo"/>
                    <span translate>Hello world !</span>
                </h1>
                <app-loader [isLoading]="isLoading"></app-loader>
                <q [hidden]="isLoading">{{quote}}</q>
            </div>
        </div>
    </div>
</div>

<table>
    <tr>
        <td>gray-dark</td>
        <td>gray</td>
        <td>gray-light </td>
        <td>gray-lighter</td>
        <td>gray-lightest</td>
        <td>brand-primary</td>
        <td>brand-secondary</td>
        <td>brand-success</td>
        <td>brand-info  </td>
        <td>brand-warning</td>
        <td>brand-danger</td>
        <td>brand-inverse</td>
    </tr>
    <tr>
        <td class="gray-dark"></td>
        <td class="gray"></td>
        <td class="gray-light "></td>
        <td class="gray-lighter"></td>
        <td class="gray-lightest"></td>
        <td class="brand-primary"></td>
        <td class="brand-secondary"></td>
        <td class="brand-success"></td>
        <td class="brand-info  "></td>
        <td class="brand-warning"></td>
        <td class="brand-danger"></td>
        <td class="brand-inverse"></td>
    </tr>
</table>
